* {
  font-family: 'Roboto', sans-serif;
}

label {
  padding: 2px 4px 2px 2px
}

.floor-plan {
  border: 1px solid black;
}

.beacon:hover {
  background-color: rgb(232,232,232);
}

.route:hover {
  background-color: rgb(232,232,232);
}